{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/core/index.css' %}?version=2" >
{% endblock %}

{%block title %}Messages{% endblock %}
    {% block content %}
        <div class="messages ml-2 mr-2 rounded">
            <div class="row block-messages">
                <div class="col-12">
                    <div class="rounded" id="list-messages">
                        <ul class="sidebar-nav">
                            {% if user.is_authenticated %}
                                <li>User: {{ user.get_username }}</li>
                                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block script %}
    {% endblock %}