{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/core/assistant.css' %}?version=2" >
    <link rel="stylesheet" href="{% static 'css/core/select.css' %}?version=2" >
{% endblock %}

{%block title %}Django MongoDB CRUD{% endblock %}
    {% block content %}
        <div class="messages ml-2 mr-2 rounded">
            <div class="row block-messages">
                <div class="col-12">
                    <div class="rounded" id="list-messages"></div>
                </div>
            </div>
            <div class="row sender-messages mt-4">
                <div class="col-12">
                    <input class="rounded" type="text" id="sender-text" name="sender-text" value="{{ message }}"/>
                    <icon class="fas fa-microphone" id="btn-act-microphone"></icon>
                </div>
            </div>
        </div>
        <div class="form-fields-data">
            <input type="text" id="user" name="user" value="{{ user }}">
            <input type="text" id="assistant_id" name="assistant_id" value="{{ pk }}">
            <input type="text" id="dsc_assistant" name="dsc_assistant" value="{{ dsc }}">
            <input type="text" id="terminal_id" name="terminal_id" value="{{ terminal_id }}">
            <input type="text" id="bot_context" name="bot_context" value="">
        </div>
    {% endblock %}
    {% block script %}
		<script src="{% static 'js/core/assistant.js' %}"></script>
		<script src="{% static 'js/core/webaudio.js' %}"></script>
		<script src="{% static 'js/core/pressed.js' %}"></script>
    {% endblock %}